@media screen and (min-width: 1536px) {
  body {
    margin: 0;
    padding: 1;
    height: 100%;
    width: 100%;
   
    
  }
  
  .gamen {
    display: flex;
    height: 100vh;
  }
 
  div.menu {
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    width: 300px;
    background-color: rgb(209, 232, 246);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
    padding-bottom: 88vh;
    padding-left: 2%;
    
  }
  .b1 {
    
    position: absolute;
    top: 230px;
    font-size: 40px;
  }
  
  .b2 {
    
    position: absolute;
    top: 330px;
    font-size: 40px;
  }
 
  .b3 {
    
    position: absolute;
    top: 450px;
    font-size: 33px;
  }
 
  .b4 {
   
    position: absolute;
    top: 570px;
    font-size: 25px;
  }
  
  div.main {
    display: flex;
    flex-direction: column;
    float: right;
    height: 100%;
    width: 80%;

    background-color: rgb(255, 255, 255);
  }
  .textfield {
    
    width: 500px;
    position: relative;
    left: 50px;
    top: 130px;
  }
 
  .b5 {
    height: 150px;
    width: 600px;
    font-size: 60px;
    position: absolute;
    left:720px;
    top: 350px;
  }
  .b6 {
    height: 150px;
    width: 400px;
    font-size: 50px;
    position: absolute;
    left: 600px;
    top: 550px;
  }
  .b7 {
    
    height: 150px;
    width: 400px;
    font-size: 60px;
    position: absolute;
    left: 1050px;
    top: 550px;
  }
}
/* PC 125%以上　*/
@media screen and (min-width: 1025px)and (max-width: 1536px) {
  body {
    margin: 0;
    padding: 0;
    
    
    
  }
 
  .gamen {
    display: flex;
    height: 100vh;
  }
  
 
  .menu {
    display: grid;
    flex-direction: column;
    float: left;
    position: relative;
    width: 300px;
    background-color: rgb(209, 232, 246);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.1);
    padding-left: 2%;
   
  }
  @media (max-height: 700px) {
    .menu{
      padding-bottom: 700px;
    }
  }
  .b1 {
    
    position: absolute;
    top: 175px;
    font-size: 40px;
  }
  
  .b2 {
    
    position: absolute;
    top: 275px;
    font-size: 40px;
  }
 
  .b3 {
    
    position: absolute;
    top: 390px;
    font-size: 33px;
  }
 
  .b4 {
   
    position: absolute;
    top: 505px;
    font-size: 25px;
  }
  
  .main {
   
    display: flex;
    flex-direction: column;
    float: right;
    height: 100%;
    width: 80%;
    background-color: rgb(255, 255, 255);
  }
  .textfield {
    width: 500px;
    position: relative;
   left: 30px;
    top: 130px;
  }
  .b5 {
    height: 150px;
    width: 600px;
    font-size: 60px;
    position: absolute;
    left: 620px;
    top: 300px;
  }
  .b6 {
    height: 150px;
    width: 400px;
    font-size: 48px;
    position: absolute;
    left: 500px;
    top: 500px;
  }
  .b7 {
    height: 150px;
    width: 400px;
    font-size: 60px;
    position: absolute;
    left: 950px;
    top: 500px;
  }
}
/* タブレット向け */

@media screen and (min-width: 0px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    
  }
 
  div.menu {
    margin-top: 50px;
    padding-top:10% ;
    position: relative;
    background-color: rgb(209, 232, 246);
    border-left: 10px solid rgb(6, 103, 142);
    border-right: 10px solid rgb(6, 103, 142);
    padding-bottom: 12%;
    
   
  }
  .b1 {
    
    font-size: 40px;
   
  }
 
  .b2 {
    font-size: 40px;
   
  }
  
  .b3 {
    font-size: 30px;
   
  }
  
  .b4 {
    font-size: 25px;
   
  }
  
  div.main{
    position: relative;
   border-top:20px solid rgb(6, 103, 142); ;
   padding-bottom: 50%;
   
  }
  .textfield{
    position: absolute;
    width: 40%;
    top:3%;
  }
 
  .b5 {
    height: 25%;
    width: 35%;
    font-size: 3.5vw;
    position: absolute;
    left: 30%;
    top: 30%;

  }
  .b6 {
    height: 25%;
    width: 35%;
    font-size: 3.5vw;
    position: absolute;
    left: 10%;
    top:60%;
    margin-top: 5px;
  
  }
  .b7 {
    height: 25%;
    width: 35%;
    font-size: 3.5vw;
    position: absolute;
    left: 50%;
   top: 60%;
   margin-top: 5px;
  }
}
/* スマートフォン向け */
/*
@media screen and(max-width: 768px) {
  .btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
