@media screen and (min-width: 1536px) {
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%; 
  }

  .textfield{
    padding-top: 10px;
     width: 95%;
   }
}
/* PC 125%以上　*/
@media screen and (min-width: 1025px)and (max-width: 1536px) {
  body {
    margin: 0;
    padding: 0;
  }

  .textfield{
   padding-top: 10px;
    width: 95%;
  }
}
/* タブレット向け */

@media screen and (min-width: 0px) and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    height: 100%; 
  }

  .textfield{
    padding-top: 10px;
     width: 95%;
   }
}
/* スマートフォン向け */
/*
@media screen and(max-width: 768px) {
  .btn {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}
