.header {
  background-color: #21a7dd;
  padding: 40px;
  display: flex;
}

.header div {
  text-align: left;
}

.header h1 {
  margin: auto;
  text-align: center;
  color: white;
}

/*ここからバーガーメニュー*/
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #005b99;
}

.bm-cross-button {
  height: 36px;
  width: 36px;
}

.bm-cross {
  height: 2%;
  width: 2%;
  background: #373a47;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: rgb(181, 236, 255);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  overflow: hidden;
}

.bm-menu element {
  overflow: hidden;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  outline: none;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
