<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>APP</title>
  </head>
  <body>
    <h1>
        <% users.forEach((user) => { %>
        <%= user.id + ": " + user.username %>
        <br>    
        <% }) %>
    </h1>
  </body>
</html>